extend layout
block content
	.chat(ng-controller="ChatController")
		
		.chat-tabs

		.chat-view
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message 

		.message-entry
			textarea

		.message-toolbar
			button.send-button Send


	.card-container