extend layout
block content
	.col-md-2.sidebar(ng-controller="SidebarController")

		//- ul.nav
		//- 	li.global-search: input.form-control(type='text')

		h4.sidebar-header My Rooms
		ul.list-group.room-list
			li.list-group-item(ng-repeat="(id, room) in model.user.rooms")
				a(href="#") {{room.name}}

		ul.list-group.join-room-list
			li.list-group-item
				.input-group
					input.form-control(type="text", ng-model="model.roomJoinName")
					span.input-group-btn
						button.btn.btn-default(ng-click="joinRoom()") +

	.chat.col-md-5.col-md-offset-2(ng-controller="ChatController")
		.chat-view
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message 

		.message-entry
			textarea

		.message-toolbar
			button.send-button.btn.btn-primary Send Message


	.card-tower.col-md-5
		.card
		.card
		.card
		.card
		.card
		.card
		.card
		.card
		.card
		.card
		.card