extend layout
block content
	.col-md-2.sidebar(ng-controller="SidebarController")

		ul.nav.primary-nav
			li.global-search: input.form-control(type='text')

			li: a(href="#", ng-click="createNewRoom()") New Room
		ul.nav.secondary-nav
			li: a(href="#") Example Room

	.chat.col-md-5.col-md-offset-2(ng-controller="ChatController")
		
		.chat-tabs

		.chat-view
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message
			.message 

		.message-entry
			textarea

		.message-toolbar
			button.send-button.btn.btn-primary Send Message


	.card-tower.col-md-5
		.card
		.card
		.card
		.card
		.card
		.card
		.card
		.card
		.card
		.card
		.card