html
	head
		title #{title}
		//- != css('bootstrap')
		!= css('styles')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	body.app-container
		block content

	!= js('jquery')
	!= js('angular')

	script.
		//- Bootstrap application
		angular.module('Context', []);

	!= js('app')