html
	head
		title #{title}
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/styles.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	body.chat-container
		.chat
			
			.chat-tabs

			.chat-view
				//- Debug
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message
				.message


			.message-entry
				textarea

			.message-toolbar
				button.send-button Send


		.inset-column

	script(src='js/jquery.js')
	script(src='/js/angular.js')