extend layout
block content
	.login-wrapper(ng-controller="LoginController")
		.login-block
			.login-header

			form.login-form
				.controls
					.form-group(ng-class="{'has-success' : usernameValid()}")
						input.form-control.input-lg(type='text', placeholder="Username", ng-model="model.username", ng-blur="checkIsNewUser()")
					.form-group(ng-class="{'has-success' : passwordValid()}")
						input.form-control.input-lg(type='password', placeholder="Password", ng-model="model.password")
					.form-group(ng-class="{'has-success' : passwordConfirmValid(), 'has-error' : !passwordConfirmValid()}")
						input.form-control.input-lg(type='password', ng-show='model.newUser', ng-model="model.passwordConfirm", placeholder="New here? Password again, please.")
					.form-group
						button.btn.btn-lg.btn-primary.center-block(ng-click="login()") Go
							i.fa.fa-cog.fa-spin(ng-show="model.loggingIn")