extend layout
block content
	.login-wrapper(ng-controller="LoginController")
		.login-block
			.login-header
				h1 Log In / Sign Up

			form.login-form
				input(type='text', placeholder="Username")
				input(type='password', placeholder="Password")
				input(type='password', ng-show='model.newUser', placeholder="Password Again")
				button Go

