.login-wrapper
	align-items center
	display flex
	height 100%
	justify-content center
	width 100%
	flex-flow row

	.login-block
		height 500px
		width 800px
		background-color grey
		display flex
		flex-flow column

		.login-header
			flex 0 0 50px

		.login-form
			display flex
			flex 1 0 0
			flex-flow column
			align-items center
			justify-content center
			