global-reset()

@import 'chat'
@import 'login'

*
	box-sizing(border-box)

html
	min-height 100%

body
	// background-image url('/img/login-bg.png')

.app-container
	// width 100%
	height 100%
	// margin 0
	padding 0
